{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="keywords" content="Foresightt Cleaning Company">
        <link href="{% static '/assets/images/logo/logo-sm.gif' %}" rel="icon">
        <title>Foresigh Innovations - Ultimate Cleaning Comapny</title>
        <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:400,500,700%7cPoppins:400,600,700&display=swap">
        <link rel="stylesheet" href="{% static '/assets/css/libraries.css' %}" />
        <link rel="stylesheet" href="{% static '/assets/css/style.css' %}" />
        <script src="https://kit.fontawesome.com/3fd38094f9.js" crossorigin="anonymous"></script>
    </head>


    <body>

        <div class="wrapper">

            {% if messages %}
            <script>
                {% for message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            </script>
            {% endif %}


            <!-- =========================
            Header
            =========================== -->
            <header id="header" class="header header-white header-full header-full-layout2">
                <nav class="navbar navbar-expand-lg">
                    <div class="container">
                        <a class="navbar-brand" href="{% url 'home-view' %}">
                            <img src="{% static '/assets/images/logo/logo-light.png' %}" class="logo-light" alt="logo">
                            <img src="{% static '/assets/images/logo/foresight-logo2.gif' %}" class="logo-dark" alt="logo">
                        </a>
                        <div class="header__topbar d-none d-lg-block">
                            <div class="d-flex flex-wrap">
                                <ul class="contact__list list-unstyled">
                                    <li>
                                        <i class="icon-call"></i>
                                        <div>
                                            <span>Call Us:</span><strong><a href="tel:+254 717 431 658">+254 717 431 658</a> / <a href="tel:020 522 5487">   020 522 5487</a></strong>
                                        </div>
                                    </li>
                                    <li>
                                        <i class="icon-envelope"></i>
                                        <div>
                                            <span>Email Us:</span><strong><a href="mailto:foresight_innovations@yahoo.com">foresight_innovations@yahoo.com</a></strong>
                                            <span></span><strong><a href="mailto:foresightinnovations17@gmail.com">foresightinnovations17@gmail.com</a></strong>
                                        </div>
                                    </li>
                                    <li>
                                        <i class="icon-clock"></i>
                                        <div>
                                            <span>Opening Hours:</span><strong>Mon-Fri: 8am – 5pm</strong>
                                        </div>
                                    </li>
                                </ul>
                                <!-- <div class="social__icons justify-content-end">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div> -->
                            </div>
                        </div><!-- /.header-topbar -->
                        <button class="navbar-toggler" type="button">
                            <span class="menu-lines"><span></span></span>
                        </button>
                    </div><!-- /.container -->
                    <div class="navbar__bottom  sticky-navbar">
                        <div class="container">
                            <div class="collapse navbar-collapse" id="mainNavigation">
                                <ul class="navbar-nav">
                                    <li class="nav__item with-dropdown">
                                        <a href="{% url 'home-view' %}" class="dropdown-toggle nav__item-link active">Home</a>
                                    </li><!-- /.nav-item -->
                                    <li class="nav__item with-dropdown">
                                        <a href="{% url 'company-view' %}" class="dropdown-toggle nav__item-link ">Company</a>
                                    </li><!-- /.nav-item -->
                                    <li class="nav__item with-dropdown">
                                        <a href="{% url 'services-view' %}" class="dropdown-toggle nav__item-link">Services</a>
                                        <i class="fa fa-angle-right" data-toggle="dropdown"></i>
                                        <ul class="dropdown-menu wide-dropdown-menu">
                                            <li class="nav__item">
                                                <div class="row mx-0">
                                                    <div class="col-sm-6 dropdown-menu-col">
                                                        <h6>Our Services</h6>
                                                        <ul class="nav flex-column">
                                                            <li class="nav__item"><a class="nav__item-link" href="{% url 'services-view' %}"Executive Office Cleaning</a>
                                                            </li> <!-- /.nav-item -->
                                                            <li class="nav__item"><a class="nav__item-link" href="{% url 'services-view' %}">Commercial & Residential Cleaning</a>
                                                            </li> <!-- /.nav-item -->
                                                            <li class="nav__item"><a class="nav__item-link" href="{% url 'services-view' %}">Sanitation & Washroom Maintenance</a>
                                                            </li> <!-- /.nav-item -->
                                                            <li class="nav__item"><a class="nav__item-link" href="{% url 'services-view' %}">Landscaping & Gardening</a>
                                                            </li> <!-- /.nav-item -->
                                                            <li class="nav__item"><a class="nav__item-link" href="{% url 'services-view' %}">Carpet & Upholstery Cleaning</a>
                                                            </li> <!-- /.nav-item -->
                                                            <li class="nav__item"><a class="nav__item-link" href="{% url 'services-view' %}">Office Records Maintenance</a>
                                                            </li>
                                                            <li class="nav__item"><a class="nav__item-link" href="{% url 'services-view' %}">After Event Clean Up</a>
                                                            </li>
                                                            <li class="nav__item"><a class="nav__item-link" href="{% url 'services-view' %}">Post Construction Cleaning</a>
                                                            </li>
                                                            <!-- /.nav-item -->
                                                        </ul>
                                                    </div><!-- /.col-sm-6 -->
                                                </div><!-- /.row -->
                                            </li><!-- /.nav-item -->
                                        </ul><!-- /.dropdown-menu -->
                                    </li><!-- /.nav-item -->
                                    <li class="nav__item">
                                        <a href="{% url 'contact-view' %}" class="nav__item-link">Contact Us</a>
                                    </li><!-- /.nav-item -->
                                </ul><!-- /.navbar-nav -->
                            </div><!-- /.navbar-collapse -->
                            <div class="navbar-modules d-none d-lg-block">
                                <ul class="list-unstyled d-flex align-items-center modules__btns-list">
                                    <li>
                                        <a href="{% url 'request-quote' %}" class="btn btn__primary btn__hover2 module__btn-request">
                                            <span>Request A Quote</span><i class="icon-arrow-right"></i>
                                        </a>
                                    </li>
                                </ul><!-- /.modules-wrapper -->
                            </div><!-- /.navbar-modules -->
                        </div><!-- /.container -->
                    </div><!-- /.navbar-bottom -->
                </nav><!-- /.navabr -->
            </header><!-- /.Header -->


            {% block content%}

            {% endblock %}


            <!-- ========================
            Footer
            ========================== -->
            <footer id="footer" class="footer">
                

                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-3 footer__widget footer__widget-about">
                                <div class="footer__widget-content">
                                    <img src="{% static '/assets/images/logo/logo-sm.gif' %}" alt="logo" class="footer-logo">
                                    <p>Our objective is to maintain the highest standard of cleanliness, enabling you to focus on realizing your objectives.</p>
                                    <ul class="contact__list list-unstyled">
                                        <li><span>Email:</span><span>foresight_innovations@yahoo.com</span></li>
                                        <li><span>Phone:</span><span>+254 717 431 658</span></li>
                                    </ul>
                                </div>
                            </div><!-- /.col-lg-4 -->
                            <div class="col-12 col-sm-12 col-md-3 col-lg-2 footer__widget footer__widget-nav">
                            </div><!-- /.col-lg-2 -->
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer__widget footer__widget-nav">
                                <h6 class="footer__widget-title">What We Do</h6>
                                <div class="footer__widget-content">
                                    <nav>
                                        <ul class="list-unstyled">
                                            <li><a href="{% url 'services-view' %}">Executive office cleaning</a></li>
                                            <li><a href="{% url 'services-view' %}">Commercial and residential cleaning</a></li>
                                            <li><a href="{% url 'services-view' %}">Sanitation and washroom maintenace</a></li>
                                            <li><a href="{% url 'services-view' %}">Landscaping and gardening</a></li>
                                            <li><a href="{% url 'services-view' %}">Carpet and upholstery cleaning</a></li>
                                            <li><a href="{% url 'services-view' %}">Office records maintenace</a></li>
                                        </ul>
                                    </nav>
                                </div><!-- /.footer-widget-content -->
                            </div><!-- /.col-lg-2 -->
                            <div class="col-6 col-sm-6 col-md-3 col-lg-2 footer__widget footer__widget-nav">
                                <h6 class="footer__widget-title">Who We Serve</h6>
                                <div class="footer__widget-content">
                                    <nav>
                                        <ul class="list-unstyled">
                                        <li><a>Healthcare providers</a></li>
                                        <li><a>Public Sector</a></li>
                                        <li><a>Learning Institutions</a></li>
                                        <li><a>Hotels and resorts</a></li>
                                        <li><a>Restaurants</a></li>
                                        <li><a>NGOs</a></li>
                                        <li><a>Private Organisations</a></li>
                                        </ul>
                                    </nav>
                                </div><!-- /.footer-widget-content -->
                            </div><!-- /.col-lg-2 -->
                            <div class="col-6 col-sm-6 col-md-3 col-lg-2 footer__widget footer__widget-nav">
                                <h6 class="footer__widget-title">Quick Links</h6>
                                <div class="footer__widget-content">
                                    <nav>
                                        <ul class="list-unstyled">
                                        <li><a href="{% url 'request-quote' %}">Request A Quote</a></li>
                                        <li><a href="{% url 'company-view' %}">About Us</a></li>
                                        <li><a href="{% url 'services-view' %}">Our services</a></li>
                                        <li><a href="{% url 'contact-view' %}">Contact Us</a></li>
                                        <li><a href="">Find Us</a></li>
                                        <li><a href="{% url 'home-view' %}">Home</a></li>
                                        
                                        </ul>
                                    </nav>
                                </div><!-- /.footer-widget-content -->
                            </div><!-- /.col-lg-2 -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.footer-top -->

                <div class="footer-bottom">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <div class="footer__copyright">
                                    <span>&copy; <script>document.write(new Date().getFullYear())</script> Foresight Innovations</span>
                                </div><!-- /.Footer-copyright -->
                            </div><!-- /.col-lg-6 -->
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <nav>
                                <ul class="list-unstyled footer__copyright-links d-flex flex-wrap justify-content-end">
                                    <li><a href="#">Sitemap</a></li>
                                </ul>
                                </nav>
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.Footer-bottom -->
            </footer><!-- /.Footer -->


            <button id="scrollTopBtn"><i class="fa fa-long-arrow-up"></i></button>

        </div><!-- /.wrapper -->


        <script src="{% static '/assets/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static '/assets/js/plugins.js' %}"></script>
        <script src="{% static '/assets/js/main.js' %}"></script>

    </body>

</html>