{% extends 'base.html' %}
{% load static %}


{% block content %}


<!-- ======================
       FAQ
    ========================= -->
    <section id="faq" class="faq">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4">
              <aside class="sidebar mb-30">
                
                <div class="widget widget-help bg-overlay bg-overlay-grdient-secondary">
                  <div class="bg-img"><img src="assets/images/sidebar/1.jpg" alt="background"></div>
                  <div class="widget__content">
                    <h5>How Can <br> We Help You!</h5>
                    <p>We understand the importance of approaching each work integrally and believe in the power of simple
                      and easy communication.</p>
                    <a href="tel:+254 717 431 658" class="btn btn__primary btn__hover2 btn__block">Call Us Today!</a>
                  </div><!-- /.widget-content -->
                </div><!-- /.widget-help -->
                
  
              </aside><!-- /.sidebar -->
            </div><!-- /.col-lg-4 -->
            
            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="text__block">
                  <h5 class="text__block-title">Overview</h5>
                  <p class="text__block-desc">
                    Established in the 90s, Foresight Innovations' founder, the Late BK Njeru, launched with a small crew of five
                    that grew exponentially over the years. He lived with a constant reminder that cleanliness provided a clean slate
                    to look forward to, which helped to propell the company to great heights.

                  </p>
                  <div class="video-banner bg-overlay mb-60">
                    <div class="bg-img"><img src="{% static 'assets/images/banners/3.jpg' %}" alt="background"></div>
                  </div><!-- /.video -->
                  <p class="text__block-desc">With a guiding proverb, 'cleanliness is next to godliness', the ForeSight crew continues expediting
                    BKs' mission of ensuring business continuity in providing clean and aesthetically pleasing work environments to clients of all profiles.
                  </p>
                </div><!-- /.text-block -->
                
                <h5>Why Our Clients Choose Us</h5>
                <div id="accordion" class="mb-50">
                  <div class="accordion-item">
                    <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse1">
                      <a class="accordion__item-title" href="#">Professionally Trained Staff</a>
                    </div><!-- /.accordion-item-header -->
                    <div id="collapse1" class="collapse" data-parent="#accordion">
                      <div class="accordion__item-body">
                        <p>We take time to train our staff on how to do perform chores and approach various situations 
                          that are inevitable in every work environment. We believe it requires more than a cleaning know-how to
                          provide exemplary service.
                        </p>
                      </div><!-- /.accordion-item-body -->
                    </div>
                  </div><!-- /.accordion-item -->
                  <div class="accordion-item">
                    <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse2">
                      <a class="accordion__item-title" href="#">Latest Equipment Inventory</a>
                    </div><!-- /.accordion-item-header -->
                    <div id="collapse2" class="collapse" data-parent="#accordion">
                      <div class="accordion__item-body">
                        <p>We have a wide array of cleaning and gardening equipment to guarantee efficient service delivery. We are always updating 
                          our cleaning methods and equipment to ensure we are upto standard with the latest cleaning technology.
                        </p>
                      </div><!-- /.accordion-item-body -->
                    </div>
                  </div><!-- /.accordion-item -->
                  <div class="accordion-item">
                    <div class="accordion__item-header opened" data-toggle="collapse" data-target="#collapse3">
                      <a class="accordion__item-title" href="#">Reliability</a>
                    </div><!-- /.accordion-item-header -->
                    <div id="collapse3" class="collapse show" data-parent="#accordion">
                      <div class="accordion__item-body">
                        <p>We benchmark our services on international standards and believe that being reliable is as important as knowing how to clean.
                          You can rely on us. We have been doing this for more than 20 years!
                        </p>
                      </div><!-- /.accordion-item-body -->
                    </div>
                  </div><!-- /.accordion-item -->
                </div>
                
              </div><!-- /.col-lg-8 -->

          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.FAQ -->


{% endblock %}