{% extends 'base.html' %}
{% load static %}


{% block content %}


<!-- ==========================
        contact 3
    =========================== -->
    <section id="contact3" class="contact contact-3 text-center">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
              <div class="heading text-center mb-50">
                <h2 class="heading__title">Contact Us</h2>
                <p class="heading__desc">We understand the importance of approaching each work integrally and believe in
                  the power of simple and easy communication.</p>
              </div><!-- /.heading -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
              <form method="POST" action="" >
                {% csrf_token %}
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">{{form.name}}</div>
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">{{form.email}}</div>
                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">{{form.phone_number}}</div>
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">{{form.company}}</div>
                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                     {{form.subject}}
                    </div>
                  </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                     {{form.message}}
                    </div>
                  </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                    <button type="submit" class="btn btn__secondary btn__hover3 btn__block">Submit Request</button>
                  </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
              </form>
            </div><!-- /.col-lg-8 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.contact 3 -->

<!-- ========================= 
            Google Map
    =========================  -->
    <section id="googleMap" class="google-map p-0">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-3">

          <iframe
            width="600"
            height="300"
            style="border:0"
            loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD5FyXilXd0BVhWOO8RgJqIf7NgPswWL6k&q=Foresight+Innovations+Ltd,Ojijo+Road,Nairobi">
          </iframe>

        </div>
    </section><!-- /.GoogleMap -->

{% endblock %}