{% extends 'base.html' %}
{% load static %}




{% block content %}

  <!-- ============================
      Slider
  ============================== -->
  <section id="slider3" class="slider slider-3">
    <div class="carousel owl-carousel carousel-arrows carousel-dots" data-slide="1" data-slide-md="1"
      data-slide-sm="1" data-autoplay="true" data-nav="true" data-dots="false" data-space="0" data-loop="true"
      data-speed="1000" data-transition="fade" data-animate-out="fadeOut" data-animate-in="fadeIn">
      <div class="slide-item align-v-h bg-overlay">
        <div class="bg-img"><img src="{% static '/assets/images/sliders/1.jpg' %}" alt="slide img"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-6">
              <div class="slide__content d-flex flex-wrap justify-content-between">
                <h2 class="slide__title">Avoid A Dirty Scene,  <br> Keep That Place Clean! </h2>
                <p class="slide__desc">We pride ourselves in offering comprehensive cleaning services. Every client is special. Every project is different.</p>
                <a href="{% url 'request-quote' %}" class="btn btn__primary btn__hover3">Get a Quote</a>
              </div><!-- /.slide-content -->
            </div><!-- /.col-xl-6 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.slide-item -->
      <div class="slide-item align-v-h bg-overlay">
        <div class="bg-img"><img src="{% static '/assets/images/sliders/3.jpg' %}" alt="slide img"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-6">
              <div class="slide__content d-flex flex-wrap justify-content-between">
                <h2 class="slide__title">What would you rather be doing?</h2>
                <p class="slide__desc">We'd rather be cleaning!</br> Cleanliness is our passion.</p>
                <h2>We enjoy IT!</h2>
                <a href="{% url 'services-view' %}" class="btn btn__primary btn__hover3">Our Services</a>
              </div><!-- /.slide-content -->
            </div><!-- /.col-xl-6 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.slide-item -->
      <div class="slide-item align-v-h bg-overlay">
        <div class="bg-img"><img src="{% static '/assets/images/sliders/2.jpg' %}" alt="slide img"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-6">
              <div class="slide__content d-flex flex-wrap justify-content-between">
                <h3 class="slide__title" style="color:#f4c430">Rise <span style="text-transform: lowercase"> 'n'</span> Shine</h3>
                <h1 class="slide__title"  >We’ll handle the mess.</h1>
                <a href="{% url 'company-view' %}" class="btn btn__primary btn__hover3">More About Us</a>
              </div><!-- /.slide-content -->
            </div><!-- /.col-xl-6 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.slide-item -->
    </div><!-- /.carousel -->
  </section><!-- /.slider -->

  <!--========================
      About 2
  ===========================-->
  <section id="about2" class="about about-2">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="heading heading-3 mb-20 pt-60">
            <span class="heading__subtitle">Why experts choose the experts</span>
            <h2 class="heading__title">We Are A Professional Cleaning Service Agency!</h2>
            <p>Providing the best cleaning and janitorial services in Kenya. We don't just clean. Our skilled
              personnel provide an unfathomable cleanliness experience.</p>
          </div><!-- /.heading -->
          <ul class="list-items list-items-layout2 list-unstyled mb-30">
            <li>Reliability</li>
            <li>Highest standards of honesty, integrity, confidentiality</li>
            <li>Transparent Pricing, Environmental Sensitivity</li>
            <li>8/5 Hours Support, Professional and Qualified</li>
            <li>Safety and Security</li>
          </ul>
          <a href="{%  url 'company-view' %}" class="btn btn__primary mr-30 mb-20">More About Us</a>
          <a href="{%  url 'services-view' %}" class="btn btn__secondary btn__link btn__underlined mb-20">Find your solution</a>
        </div><!-- /.col-lg-6 -->
        <div class="col-sm-12 col-md-9 col-lg-6">
          <div class="about__img">
            <img src="{% static '/assets/images/about/1.jpg' %}" alt="about img" class="img-fluid">
            <div class="counter-item-wrapper counters-white">
              <div class="counter-item">
                <div class="counter__icon">
                  <i class="icon-box"></i>
                </div>
                <h4><span class="counter">20</span>+</h4>
                <p class="counter__desc">Years of experience</p>
              </div>
            </div><!-- /.counter-item-wrapper-->
          </div><!-- /.about-img -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.About 2 -->

  <!-- ========================
      Services
  =========================== -->
  <section id="services" class="services pb-80  text-center bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
          <div class="heading text-center mb-50">
            <span class="heading__subtitle">Real Solutions, Real Fast!</span>
            <h2 class="heading__title">20+ Years of Providing Cleaning Services</h2>
            <p class="heading__desc">Tailored cleaning services to suit your organizational needs</p>
          </div><!-- /.heading -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="service-item">
            <div class="service__icon"><i class="fas fa-briefcase"></i></div>
            <div class="service__content">
              <h4 class="service__title">Executive Office </br> Cleaning</h4>
              <p class="service__desc">
                Regular office cleaning that can fit into your schedule. 
                Whether you need office cleaners daily, every fortnight, weekly or monthly, 
                we can tailor a solution to your needs.
              </p>
              <a href="{%  url 'request-quote' %}" class="btn btn__white">
                <span>Get Quote</span><i class="icon-arrow-right"></i>
              </a>
            </div>
          </div>
          <!-- /.service-item -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="service-item">
            <div class="service__icon"><i class="fas fa-building"></i></div>
            <div class="service__content">
              <h4 class="service__title">Commercial & Residential Cleaning</h4>
              <p class="service__desc">
                We provide comprehensive cleaning and maintenance services to any type of commercial or 
                residential property on a contractual or one-off basis. 
              </p>
              <a href="{%  url 'request-quote' %}" class="btn btn__white">
                <span>Get Quote</span><i class="icon-arrow-right"></i>
              </a>
            </div>
          </div>
          <!-- /.service-item -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="service-item">
            <div class="service__icon"><i class="fas fa-toilet"></i></div>
            <div class="service__content">
              <h4 class="service__title">Sanitation & Washroom Maintenance</h4>
              <p class="service__desc">
                We provide comprehensive cleaning and maintenance of washrooms. This includes,
                cleanness, toilet paper replenishing, handwashing cream, air fresheners.
              </p>
              <a href="{%  url 'request-quote' %}" class="btn btn__white">
                <span>Get Quote</span><i class="icon-arrow-right"></i>
              </a>
            </div>
          </div>
          <!-- /.service-item -->
        </div>
        <!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
          <p class="text__link mb-0"><a href="{%  url 'services-view' %}">Find your solution</a>
          </p>
        </div><!-- /.col-lg-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.Services -->

  <!-- ======================
        banner 3
  ========================= -->
  <section id="banner3" class="banner banner-3 p-0 bg-theme">
    <div class="container-fluid col-padding-0">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 background-banner bg-overlay">
          <div class="bg-img"><img src="{% static '/assets/images/banners/7.jpg' %}" alt="background"></div>
         
        </div><!-- /.col-lg-6 -->
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="inner-padding">
            <div class="heading heading-3 heading-white mb-50">
              <h2 class="heading__title">Flexible Pricing Policy <br>& Decades Of Experience!</h2>
              <p class="heading__desc">We are dedicated in offering sterling cleaning services that complement our clients. We believe that our services satisfy the high
                expectations of our customers. Our desire for constant improvement is the
                driving force behind our cleaning business.</p>
            </div><!-- /.heading -->
            <div class="counters-white d-flex flex-wrap justify-content-between">
              <div class="counter-item">
                <h4><span class="counter">20</span><span>m+</span></h4>
                <p class="counter__desc">SqFt Cleaned</p>
              </div>
              <div class="counter-item">
                <h4><span class="counter">1,000</span><span>+</span></h4>
                <p class="counter__desc">Satisfied Clients</p>
              </div>
              <div class="counter-item">
                <h4><span class="counter">200</span><span>+</span></h4>
                <p class="counter__desc">Created jobs</p>
              </div>
            </div><!-- /.counters -->
            <img src="{% static '/assets/images/about/singnture2.png' %}" alt="singnture">
          </div>
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.banner 3 -->


  <!-- =====================
        Clients 1
    ======================== -->
  <section id="clients" class="clients clients-1 border-top">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
          <div class="heading text-center mb-50">
            <h2 class="heading__title">Our Partners</h2>
          </div><!-- /.heading -->
        </div><!-- /.col-lg -->
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="carousel owl-carousel" data-slide="6" data-slide-md="4" data-slide-sm="2" data-autoplay="true"
            data-nav="false" data-dots="false" data-space="20" data-loop="true" data-speed="700">
            <div class="client">
              <img src="{% static '/assets/images/clients/1.png' %}" alt="client">
            </div><!-- /.client -->
            <div class="client">
              <img src="{% static '/assets/images/clients/2.svg' %}" alt="client">
            </div><!-- /.client -->
            <div class="client">
              <img src="{% static '/assets/images/clients/3.png' %}" alt="client">
            </div><!-- /.client -->
            <div class="client">
              <img src="{% static '/assets/images/clients/4.png' %}" alt="client">
            </div><!-- /.client -->
            <div class="client">
              <img src="{% static '/assets/images/clients/5.png' %}" alt="client">
            </div><!-- /.client -->
            <div class="client">
              <img src="{% static '/assets/images/clients/6.svg' %}" alt="client">
            </div><!-- /.client -->
            <div class="client">
              <img src="{% static '/assets/images/clients/7.png' %}" alt="client">
            </div><!-- /.client -->
            <div class="client">
              <img src="{% static '/assets/images/clients/8.png' %}" alt="client">
            </div><!-- /.client -->
            <div class="client">
              <img src="{% static '/assets/images/clients/9.png' %}" alt="client">
            </div><!-- /.client -->
          </div><!-- /.carousel -->
        </div><!-- /.col-lg-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.clients 1 -->


{% endblock %}

