{% extends 'base.html' %}
{% load static %}


{% block content %}


<!-- ========================
       page title 
    =========================== -->
    <section id="page-title" class="page-title bg-overlay" style="background-color: #f4c430;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h1 class="pagetitle__heading" style="color:#021892">Request A Quote</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home-view' %}" style="color:#021892">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page" style="color:#021892">Request a Quote</li>
                            </ol>
                        </nav>
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
      </section><!-- /.page-title -->


      <!-- ======================
       Request Quote
    ========================= -->
    <section id="requestQuote" class="request-quote pt-110 pb-90">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4">
              <aside class="sidebar mb-30">
                <div class="widget widget-categories">
                  <h5 class="widget__title">Our Services</h5>
                  <div class="widget-content">
                    <ul class="list-unstyled">
                      <li><a href="#">Commercial & Residential Cleaning</a></li>
                      <li><a href="#">Executive Office Cleaning</a></li>
                      <li><a href="#">Sanitation & Washroom Maintenance</a></li>
                      <li><a href="#">Landscaping & Gardening</a></li>
                      <li><a href="#">Carpet & Upholstery Cleaning</a></li>
                      <li><a href="#">Office Records Maintenance</a></li>
                      <li><a href="#">After Event Clean Up</a></li>
                      <li><a href="#">Post Construction Cleaning</a></li>
                    </ul>
                  </div><!-- /.widget-content -->
                </div><!-- /.widget-categories -->
                 
              </aside><!-- /.sidebar -->
            </div><!-- /.col-lg-4 -->
            <div class="col-sm-12 col-md-12 col-lg-8">
              <form class="request-quote-form" method="POST" action="" >
                {% csrf_token %}
                {{form.errors}}
                <div class="row mb-30">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <h5 class="form__title">Personal Data</h5>
                    <hr class="mt-0 mb-30">
                  </div><!-- /.col-lg-12 -->
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                      {{form.company}}
                    </div>
                  </div><!-- /.col-lg-12 -->
                  <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                      {{form.name}}
                    </div>
                  </div><!-- /.col-lg-4 -->
                  <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                      {{form.email}}
                    </div>
                  </div><!-- /.col-lg-4 -->
                  <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                      {{form.phone_number}}
                    </div>
                  </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
                <div class="row mb-10">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <h5 class="form__title">Service</h5>
                    <hr class="mt-0 mb-30">
                  </div><!-- /.col-lg-12 -->
                  <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group form-group-select">
                      {{form.service}}
                    </div>
                  </div><!-- /.col-lg-4 -->
                  <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                      {{form.area_size}}
                    </div>
                  </div><!-- /.col-lg-4 -->
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                      {{form.other_detail}}
                    </div>
                  </div><!-- /.col-lg-4 -->

                </div><!-- /.row -->
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <button type="submit" class="btn btn__secondary btn__hover3 btn__block">Request A Quote</button>
                  </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
              </form>
            </div><!-- /.col-lg-8 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.Request Quote -->






{% endblock %}