{% extends 'base.html' %} {% load static %} {% block content %}

<!-- ========================
          Services
      =========================== -->
<section id="services" class="services pb-80">
  <div class="container">
    <div class="row heading heading-2 mb-40">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <span class="heading__subtitle">Real Solutions, Real Fast!</span>
      </div>
      <!-- /.col-lg-12 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h2 class="heading__title">
          Delivering the Best Services Efficiently.
        </h2>
      </div>
      <!-- /.col-lg-5 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <p class="heading__desc">
            We pride ourselves on being large enough to cope with 
            any task, small enough to care for every customer, and innovative to guarantee 
            quality service.
        </p>
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->

    <div class="row text-center">
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service__icon"><i class="fas fa-briefcase"></i></div>
          <div class="service__content">
            <h4 class="service__title">Executive Office </br> Cleaning</h4>
            <p class="service__desc">
                Regular office cleaning that can fit into your schedule. Whether you need office cleaners
                daily, every fortnight, weekly or monthly, we can tailor a solution to your needs.
                We clean any type of flooring, upholstery, work stations, provide messengers and
                support staff, dust office equipment and maintain washrooms(cleanliness, toilet paper replenishing, handwashing cream, air fresheners).
            </p>
            <a href="{% url 'request-quote' %}" class="btn btn__white">
              <span>Get Quote</span><i class="icon-arrow-right"></i>
            </a>
          </div>
        </div>
        <!-- /.service-item -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service__icon"><i class="fas fa-building"></i></div>
          <div class="service__content">
            <h4 class="service__title">Commercial & Residential Cleaning</h4>
            <p class="service__desc">
              We provide comprehensive cleaning and maintenance services to any type of commercial or 
              residential property on a contractual or one-off basis.
              This includes hoovering carpeted areas, scrub and polish all types of floors, 
              and washroom maintenance(cleanliness, toilet paper replenishing, handwashing cream, air fresheners).
            </p>
            <a href="{% url 'request-quote' %}" class="btn btn__white">
              <span>Get Quote</span><i class="icon-arrow-right"></i>
            </a>
          </div>
        </div>
        <!-- /.service-item -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service__icon"><i class="fas fa-spa"></i></div>
          <div class="service__content">
            <h4 class="service__title">Landscaping & Gardening</h4>
            <p class="service__desc">
              We will maintain all gardens, fencing, patios, lawn mowing, planting, hedge trimming.
              We also cover parking lots, foot paths, to maintain a serene environment.
            </p>
            <a href="{% url 'request-quote' %}" class="btn btn__white">
              <span>Get Quote</span><i class="icon-arrow-right"></i>
            </a>
          </div>
        </div>
        <!-- /.service-item -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service__icon"><i class="fas fa-pastafarianism"></i></div>
          <div class="service__content">
            <h4 class="service__title">Fumigation & Pest Control</h4>
            <p class="service__desc">
              We will help you get rid of pests by doing a deep clean and fumigating all spaces. Key to a successfull fumigation is to attenion to detail.
              We will cover every inch for a qualitative solution.
            </p>
            <a href="{% url 'request-quote' %}" class="btn btn__white">
              <span>Get Quote</span><i class="icon-arrow-right"></i>
            </a>
          </div>
        </div>
        <!-- /.service-item -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service__icon"><i class="fas fa-couch"></i></div>
          <div class="service__content">
            <h4 class="service__title">Carpet & Upholstery Cleaning</h4>
            <p class="service__desc">
              We clean all types of carpets and rugs whichever the condition.
              We also clean and restore furniture upholstery back to its original condition.
            </p>
            <a href="{% url 'request-quote' %}" class="btn btn__white">
              <span>Get Quote</span><i class="icon-arrow-right"></i>
            </a>
          </div>
        </div>
        <!-- /.service-item -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service__icon"><i class="fas fa-folder"></i></div>
          <div class="service__content">
            <h4 class="service__title">Office Records Maintenance</h4>
            <p class="service__desc">
              We bind office records and files into hardcover books to provide a robust and damage resistant method of archiving office documents.
              The books are well-labellled on the spine to ease storage and for quick identification whenever needed.
            </p>
            <a href="{% url 'request-quote' %}" class="btn btn__white">
              <span>Get Quote</span><i class="icon-arrow-right"></i>
            </a>
          </div>
        </div>
        <!-- /.service-item -->
      </div>
      <!-- /.col-lg-4 -->

      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service__icon"><i class="fas fa-calendar-day"></i></div>
          <div class="service__content">
            <h4 class="service__title">After Event Clean Up</h4>
            <p class="service__desc">
              We will restore any event venue back to its pre-event condition. 
              We will collect and dispose accumulated garbage, recycle where possible, clean floors and other surfaces, 
              and every covered area including bathrooms and kitchens.
            </p>
            <a href="{% url 'request-quote' %}" class="btn btn__white">
              <span>Get Quote</span><i class="icon-arrow-right"></i>
            </a>
          </div>
        </div>
        <!-- /.service-item -->
      </div>
      <!-- /.col-lg-4 -->

      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="service-item">
          <div class="service__icon"><i class="fas fa-hammer"></i></div>
          <div class="service__content">
            <h4 class="service__title">Post Construction Cleaning</h4>
            <p class="service__desc">
              Before you move into your new office, warehouse or home, we will help you improve the experience by doing a deep clean after all construction or 
              repair work is completed. We will provide a smooth transition from completed works to occupation.
            </p>
            <a href="{% url 'request-quote' %}" class="btn btn__white">
              <span>Get Quote</span><i class="icon-arrow-right"></i>
            </a>
          </div>
        </div>
        <!-- /.service-item -->
      </div>
      <!-- /.col-lg-4 -->
      
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.Services -->

{% endblock %}
